@charset "UTF-8";
/*HEADER*/
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.site-header {
  position: sticky;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.031372549);
}
@media (max-width: 768px) {
  .site-header {
    height: 72px;
    z-index: 3;
  }
}
.site-header img {
  width: 216px;
  margin-left: 146px;
}
@media (max-width: 820px) {
  .site-header img {
    width: 138px;
    height: 9px;
    margin-left: 11px;
  }
}
.site-header ul {
  display: flex;
  margin-right: 122px;
  gap: 60px;
}
@media (max-width: 820px) {
  .site-header ul {
    margin: 0;
    flex-direction: column;
  }
}
.site-header ul li a {
  font-weight: 400;
  line-height: 24px;
  font-family: Space Mono;
}
.site-header ul li a:hover {
  font-weight: 700;
}

/*MENU MOBILE OPEN*/
.Menu.nav_open ul {
  display: flex;
  justify-content: space-around;
  gap: 45px;
}
.Menu.nav_open ul:hover {
  font-weight: 700 !important;
}
.Menu.nav_open a {
  color: white;
  font-size: 44px;
  line-height: 65px;
  font-weight: 400;
}

@media (max-width: 1140px) {
  .Menu {
    display: none;
    background: #E00000;
    animation: fadein 1s ease-in-out;
  }
  .Menu.nav_open {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 80px;
    left: 8px;
    width: 96%;
    box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.08);
    height: 812px;
    padding-top: 206px;
  }
  .Menu.nav_open ul {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
  .Menu.nav_open a {
    color: white;
    font-size: 44px;
    line-height: 65px;
    font-weight: 400;
  }
  .Menu.nav_open a:hover {
    font-weight: 700;
  }
}
/* BTn  MENU*/
.toggle_btn {
  width: 28px;
  height: 11px;
  cursor: pointer;
  position: relative;
  float: right;
  display: none;
  margin-right: 27px;
}
@media (max-width: 1140px) {
  .toggle_btn {
    display: block;
  }
}
.toggle_btn span {
  width: 100%;
  height: 1px;
  background-color: black;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.5s ease-in-out;
}
.toggle_btn span::before, .toggle_btn span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  transition: transform 0.5s ease-in-out;
}
.toggle_btn span::after {
  transform: translateY(10px);
}
.toggle_btn span::before {
  transform: translateY(-10px);
}
.toggle_btn.active span {
  background-color: transparent;
}
.toggle_btn.active span::before {
  transform: translateY(0px) rotateZ(45deg);
}
.toggle_btn.active span::after {
  transform: translateY(0px) rotateZ(-45deg);
}

/*FOOTER*/
footer {
  padding: 10px 0 0 0;
}
footer ul {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  gap: 50px;
}
footer ul a {
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

@media (max-width: 820px) {
  footer ul {
    display: flex;
    gap: 18px;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 0 0;
  }
}
/*body*/
body {
  max-width: 1440px;
  margin: auto;
}
body ul {
  list-style-type: none;
}
body a {
  color: black;
  text-decoration: none;
  font-family: "SpaceMono";
  text-transform: uppercase;
}

@media (max-width: 1140px) {
  nav {
    display: none;
  }
}

/*Style*/
h2 {
  font-family: Space Mono;
  font-size: 60px;
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 58px;
}
@media (max-width: 1140px) {
  h2 {
    font-size: 40px;
    width: 415px;
  }
}

p {
  font-family: "Poppins";
  font-size: 14px;
}

/*#sidebar{
    display: none;
}*/
h3 {
  font-family: Space Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: left;
}

p {
  margin-bottom: 15 px;
}

.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3764705882);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  top: 80px;
  left: 0;
  display: none;
}

.popup-contact {
  background: white;
  position: relative;
  width: 597px;
  height: 769px;
  border: 5px solid #000000;
  top: -37px;
}
.popup-contact img {
  width: 100%;
}

#wpcf7-f44-o1 > form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}
#wpcf7-f44-o1 > form label {
  font-family: Poppins;
  font-size: 12px;
  font-weight: bolder;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #313144;
}
#wpcf7-f44-o1 > form input {
  width: 263px;
  height: 37px;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
}

#wpcf7-f44-o1 > form > p:nth-child(5) > label > span > textarea {
  width: 263px;
  height: 210px;
  top: 23px;
  border-radius: 8px;
  border: 1px;
  border: 1px solid #B8BBC2;
}

#wpcf7-f44-o1 > form > p:nth-child(6) > input {
  width: 263px;
  height: 50px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  background: #D8D8D8;
  margin-top: -14px;
}
#wpcf7-f44-o1 > form > p:nth-child(6) > input:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

@media screen and (max-width: 768px) {
  .popup-contact {
    width: 80%; /* Adjust the width as needed */
    height: 87%; /* Allow the height to adjust based on content */
    max-width: 400px; /* Set a maximum width if desired */
    border: 3px solid #000000;
    top: -42px;
  }
  .popup-contact img {
    padding-top: 18px;
  }
  #wpcf7-f44-o1 > form input {
    width: 190px;
  }
  #wpcf7-f44-o1 > form > p:nth-child(5) > label > span > textarea {
    width: 190px;
    height: 118px;
  }
  #wpcf7-f44-o1 > form {
    margin: 0;
  }
  #wpcf7-f44-o1 > form > p:nth-child(6) > input {
    width: 190px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .popup-contact {
    width: 70%; /* Ajustez la largeur selon vos besoins */
    max-width: 600px; /* Définissez une largeur maximale si nécessaire */
  }
}
.catalogue {
  display: flex;
  flex-direction: column;
  padding-top: 76px;
  max-width: 80%;
  margin: auto;
}
@media screen and (max-width: 765px) {
  .catalogue {
    max-width: 375px;
  }
}

.gallery_pics {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
@media screen and (max-width: 820px) {
  .gallery_pics {
    height: 100%;
  }
}

.photo-details {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 765px) {
  .photo-details {
    flex-direction: column;
  }
}
.photo-details .photo-container {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 820px) {
  .photo-details .photo-container {
    width: 100%;
    height: 100%;
  }
}
.photo-details img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlaySingle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: background-color 0.3s, opacity 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 765px) {
  .overlaySingle {
    left: 0;
    width: 100%;
  }
}
.overlaySingle:hover {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.8);
}
.overlaySingle:hover .fullscreen-icon {
  display: block;
}
.overlaySingle .fullscreen-icon {
  display: none;
  left: 85%;
  position: absolute;
  top: 2%;
  width: 34px;
  height: 34px;
}

.photo-container:hover .fullscreen-iconSingle {
  display: block;
}

.frame {
  width: 50%;
  text-align: left;
  border-bottom: solid black 1px;
  padding-bottom: 40px;
  font-family: Space Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 820px) {
  .frame {
    width: 100%;
    left: 10px;
    position: relative;
  }
  .frame h2 {
    width: 262px;
    height: 96px;
  }
}

.contenairContact {
  width: 100%;
  height: 118px;
  align-items: center;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 820px) {
  .contenairContact {
    justify-content: center;
  }
  .contenairContact p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    width: 263px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.contenairContact .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
@media screen and (max-width: 820px) {
  .contenairContact .contact {
    flex-direction: column;
  }
}

#contact-btn {
  width: 272px;
  height: 50px;
  line-height: 100%;
  background-color: #D8D8D8;
  font-family: "SpaceMono";
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
  border: none;
}
@media screen and (max-width: 820px) {
  #contact-btn {
    width: 263px;
  }
}
#contact-btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.taxonomies {
  display: flex;
  flex-direction: column;
}

.pair {
  display: flex;
  margin-bottom: 6%;
}

.pair p {
  width: 100px;
  margin: 0;
}

.pair .values {
  margin-left: 16px;
}

.navPhotos {
  width: 50%;
  height: 118px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 820px) {
  .navPhotos {
    display: none;
  }
}

.navArrow {
  width: 81px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
  height: 118px;
}
.navArrow .arrow {
  width: 25px;
  height: auto;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.navArrow .arrow:hover + .minPhoto {
  display: flex !important;
}
.navArrow .arrow .arrow-left {
  top: 10px;
  position: relative;
}
.navArrow .arrow .arrow-right {
  top: 10px;
  position: relative;
}

.minPhoto-content {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  /* autres styles nécessaires pour positionner et styliser vos miniatures */
}

.minPhoto,
.minPhoto-left,
.minPhoto-right {
  visibility: hidden;
  opacity: 0;
  position: relative;
  height: 71px;
  width: 81px;
  top: 8px;
  transition: visibility 0, 3s, opacity 0.3s linear;
}
.minPhoto a,
.minPhoto-left a,
.minPhoto-right a {
  display: block;
  width: 100%;
  height: 100%;
}
.minPhoto a img,
.minPhoto-left a img,
.minPhoto-right a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrow:hover + .minPhoto,
.arrow:hover + .minPhoto-left,
.arrow:hover + .minPhoto-right {
  visibility: visible;
  opacity: 1;
}

#all_photos {
  width: 272px;
  height: 50px;
  line-height: 100%;
  background-color: #D8D8D8;
  font-family: "SpaceMono";
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
  border: none;
  margin: 0 auto;
  display: block;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}
#all_photos:hover {
  cursor: pointer;
  background-color: black;
  color: white !important;
}
#all_photos a {
  font-family: Space Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.Title {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5%;
}
@media screen and (max-width: 1140px) {
  .Title {
    display: flex;
    margin: 10px 0 0 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
.banner {
  height: 962px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .banner {
    height: 253px;
  }
}
.banner img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 3px;
  animation: zoomIn 5s ease-in-out;
}

h1 {
  position: absolute;
  width: 85vw;
  height: 10vh;
  font-family: "Space Mono", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 6vw;
  line-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 3px #ffffff;
  -webkit-text-fill-color: transparent;
  z-index: 2;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
@media screen and (max-width: 768px) {
  h1 {
    -webkit-text-stroke: 1px #ffffff;
  }
}

#photo-filters {
  padding-top: 50px;
  width: 1140px;
  height: 43px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
@media screen and (max-width: 765px) {
  #photo-filters {
    width: 315px;
  }
}
@media screen and (min-width: 765px) and (max-width: 1140px) {
  #photo-filters {
    width: 715px;
  }
}

.catalogue_block {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  margin-top: 43px;
  gap: 10px;
}

.custom-select {
  width: 260px;
  height: 43px;
  border: 1.3px solid #B8BBC2;
  border-radius: 8px;
  padding-top: 11px;
  padding-right: 18px;
  padding-bottom: 11px;
  padding-left: 18px;
  background-color: transparent;
}
@media screen and (min-width: 768px) and (max-width: 1140px) {
  .custom-select {
    width: 145px;
  }
}
@media screen and (max-width: 768px) {
  .custom-select {
    width: 100px;
    padding: 0px;
    height: 30px;
  }
}

@media screen and (max-width: 768px) {
  #categorie {
    margin-right: 268px;
  }
}
.custom-select-ul li {
  cursor: pointer;
  padding: 10px;
}
.custom-select-ul li.term-option {
  background-color: #ffffff;
  color: #000000;
}
.custom-select-ul li.term-option:hover {
  background-color: #FFD6D6;
}
.custom-select-ul li.term-option:active {
  background-color: #FE5858;
}
.custom-select-ul li.term-option.selected {
  background-color: #E00000;
  color: #ffffff;
}
.custom-select-ul li.defaultOption {
  background-color: #ddd;
  color: #000;
}

.custom-select:focus {
  outline: none;
  border-color: #007bff;
}

.term-option {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: left;
}
.term-option:hover {
  background-color: #FFD6D6 !important;
}

#format {
  margin-left: -274px;
}

#load-more {
  width: 272px;
  height: 50px;
  line-height: 100%;
  background-color: #D8D8D8;
  font-family: "SpaceMono";
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
  border: none;
  margin: 0 auto;
  display: block;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}
#load-more:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

#photo-block-more {
  width: 100%;
}

.defaultOption:hover {
  background-color: #FFD6D6;
}

.related {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 765px) {
  .related {
    flex-direction: column;
    align-items: center;
  }
}

.related_block {
  flex-shrink: 0;
  position: relative;
  width: 564px;
  height: 495px;
  margin-bottom: 10px;
}
@media screen and (min-width: 765px) and (max-width: 1140px) {
  .related_block {
    width: 370px;
  }
}
@media screen and (max-width: 765px) {
  .related_block {
    width: 318px;
    height: 279px;
  }
}
.related_block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.related_block .overlay:hover .eye-icon,
.related_block .overlay:hover .fullscreen-icon {
  display: block;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 0.3s, background-color 0.3s;
}
.overlay:hover {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.8);
}
.overlay:hover h2, .overlay:hover h3 {
  display: block;
}
.overlay h2 {
  position: absolute;
  left: 10px;
  top: 440px;
  color: white;
  font-family: "poppins";
  font-size: 14px;
  display: none;
}
@media screen and (max-width: 765px) {
  .overlay h2 {
    top: 227px;
    font-size: 12px;
  }
}
.overlay h3 {
  position: absolute;
  left: 476px;
  top: 452px;
  color: white;
  font-family: "poppins";
  font-size: 14px;
  display: none;
}
@media screen and (max-width: 765px) {
  .overlay h3 {
    left: 240px;
    top: 237px;
    font-size: 12px;
  }
}
@media screen and (min-width: 765px) and (max-width: 1140px) {
  .overlay h3 {
    left: 289px;
  }
}
.overlay .eye-icon {
  width: 46px;
  height: 31.2px;
  top: 231.4px;
  left: 255px;
  position: absolute;
  display: none;
}
@media screen and (max-width: 765px) {
  .overlay .eye-icon {
    top: 135px;
    left: 140px;
  }
}
@media screen and (min-width: 765px) and (max-width: 1140px) {
  .overlay .eye-icon {
    left: 175px;
  }
}
.overlay .fullscreen-icon {
  position: absolute;
  cursor: pointer;
  z-index: 3;
  width: 34px;
  height: 34px;
  top: 11px;
  left: 512px;
  border: 1px;
  display: none;
}
@media screen and (max-width: 765px) {
  .overlay .fullscreen-icon {
    top: 17px;
    left: 267px;
  }
}
@media screen and (min-width: 765px) and (max-width: 1140px) {
  .overlay .fullscreen-icon {
    left: 317px;
  }
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8) !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.lightbox .close-lightbox {
  position: absolute;
  top: 40px;
  right: 18%;
  font-size: 23px;
  cursor: pointer;
  color: #fff;
}
@media screen and (max-width: 1140px) {
  .lightbox .close-lightbox {
    right: -8%;
  }
}

.lightbox .lightbox-prev,
.lightbox .lightbox-next {
  font-family: Space Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #fff;
}
@media screen and (max-width: 765px) {
  .lightbox .lightbox-prev,
  .lightbox .lightbox-next {
    top: 89%;
  }
}
.lightbox .lightbox-prev:hover,
.lightbox .lightbox-next:hover {
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
}

.lightbox .lightbox-prev {
  left: 3%;
}
@media screen and (min-width: 765px) and (max-width: 1140px) {
  .lightbox .lightbox-prev {
    left: -18%;
  }
}
@media screen and (max-width: 765px) {
  .lightbox .lightbox-prev {
    top: 95%;
  }
}

.lightbox .lightbox-next {
  right: 5%;
}
@media screen and (max-width: 765px) {
  .lightbox .lightbox-next {
    right: 6%;
    top: 95%;
  }
}
@media screen and (min-width: 765px) and (max-width: 1140px) {
  .lightbox .lightbox-next {
    right: -16%;
  }
}

.lightbox-image {
  width: 564px;
  height: 495px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1140px) {
  .lightbox-image {
    width: 100%;
  }
}

.lightbox .lightbox-caption {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.lightbox-reference {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  bottom: 140px;
  left: 482px;
  color: #fff;
  font-size: 12px;
  width: 170px;
  height: 21px;
}
@media screen and (max-width: 765px) {
  .lightbox-reference {
    bottom: 62px;
    left: 205px;
    width: 80px;
  }
}
@media screen and (min-width: 765px) and (max-width: 1140px) {
  .lightbox-reference {
    bottom: 223px;
    width: 80px;
  }
}

.lightbox-category {
  font-family: Space Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: right;
  position: absolute;
  bottom: 140px;
  right: 482px;
  color: #fff;
}
@media screen and (max-width: 765px) {
  .lightbox-category {
    bottom: 62px;
    right: 170px;
  }
}
@media screen and (min-width: 765px) and (max-width: 1140px) {
  .lightbox-category {
    bottom: 225px;
    right: 455px;
  }
}

.lightbox-photo {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 564px;
  height: 495px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1140px) {
  .lightbox-photo {
    width: 100%;
  }
}

.lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1140px) {
  .lightbox-content {
    width: 70%;
  }
}/*# sourceMappingURL=style.css.map */