
.banner {
    height: 962px; 
    display: flex;
    justify-content: center ;
    align-items: center;
    position: relative;

    @media screen and (max-width: 768px) {
        height: 253px;
    
    }
         & img{
         width: 100%;
         height: 100%;
         background-size: cover;
         background-position: center;
          object-fit: cover;
          position:absolute;
          top:3px;

         }
    
}

h1{
    
        position: relative;
        width: 53vw;
        height: 10vh;
        font-family: "Space Mono", sans-serif;
        font-style: italic;
        font-weight: 700;
        font-size: 5vw;
        line-height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 3px #ffffff; 
        -webkit-text-fill-color: transparent;
        z-index: 2;
      }



#photo-filters {
    padding-top: 50px;
    width: 1140px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    @media screen and (max-width: 765px)  {
      width: 315px;
  
  }
  @media screen and (min-width: 765px) and (max-width: 1140px) {
    width: 715px;}

}
.catalogue_block {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    gap:10px;
}

.custom-select {
    width: 260px;
    height: 43px;
    border: 1.3px solid #B8BBC2;
    border-radius: 8px;
    padding-top: 11px;
    padding-right: 18px;
    padding-bottom: 11px;
    padding-left: 18px;
    background-color: transparent;
     @media screen and (min-width: 768px) and (max-width: 1140px) {
      width: 145px;
  
  }
    @media screen and (max-width: 768px) {
      width: 100px;
       padding:0px;
      height: 30px;
      
    
  }
}
     @media screen and (max-width: 768px) {
           #categorie {
        margin-right: 268px;
          }
      }


      
    .custom-select-ul {
        li {
          cursor: pointer;
          padding: 10px; // ajustez à votre guise
      
          // Styles par défaut pour term-option
          &.term-option {
            background-color: #ffffff; // blanc par défaut
            color: #000000; // texte noir par défaut
      
            &:hover {
              background-color: #FFD6D6;
            }
      
            &:active {
              background-color: #FE5858;
            }
          }
      
          // Style spécifique pour l'option sélectionnée
          &.term-option.selected {
            background-color: #E00000;
            color: #ffffff;
          }
      
          // Style pour l'option par défaut
          &.defaultOption {
            background-color: #ddd; // Gris par défaut
            color: #000;
          }
        }
      }
      
   
      

.custom-select:focus {
    outline: none; 
    border-color: #007bff; 
}

.term-option {
    
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;

    &:hover {
        background-color: #FFD6D6!important;
    }
}
#format{
    
    margin-left: -274px;
}

#load-more{
    width: 272px;
    height: 50px;
    line-height: 100%;
    background-color:  #D8D8D8;
    font-family: 'SpaceMono'; 
    font-weight: 400;
    font-size: 12px;
    border-radius: 2px;
    border: none;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    

    &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
}

#photo-block-more{
    width: 100%;
}

.defaultOption {
    &:hover{
         background-color: #FFD6D6;
    }
   
}