/*body*/

body{
    max-width: 1440px;
    ul{
        list-style-type: none;
    }

     a{  color: black;
        text-decoration: none;
        font-family: 'SpaceMono';
        text-transform: uppercase;
    }
   

}



nav {
    @media (max-width: 1140px) {
      display: none;
     }
  }
  


/*Style*/







h2 {
    
font-family: Space Mono;
font-size: 66px;
font-style: italic;
font-weight: 400;
line-height: 58px;
text-transform: uppercase;
width: 420px;
height: 116px;

    @media (max-width:820px) {
        font-size: 46px;
      }
  }

  p{
    font-family: 'Poppins';
    font-size: 14px;
}

/*#sidebar{
    display: none;
}*/

h3{
font-family: Space Mono;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0.1em;
text-align: left;
}

