.popup-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000060;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
    left: 0;
    display:none;
}


.popup-contact{
    background:white;
    position:relative;
    width: 597px;
    height: 769px;
    border: 5px solid #000000;
    img{
        width: 100%;
    }

}



#wpcf7-f44-o1 > form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;

    label{
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
         text-align: left;
         color: #313144;

    }

    input{
        width: 263px;
        height: 37px;
        border-radius: 8px;
        border: 1px solid #B8BBC2
    }
    
}

#wpcf7-f44-o1 > form > p:nth-child(5) > label > span > textarea{
    width: 263px;
    height: 210px;
    top: 23px;
    border-radius: 8px;
    border: 1px;
    border: 1px solid #B8BBC2;

}

#wpcf7-f44-o1 > form > p:nth-child(6) > input{
    width: 263px;
    height: 50px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    background: #D8D8D8;
    margin-top: -14px;

}

@media screen and (max-width: 1024px) {
    .popup-contact {
        width: 80%; /* Adjust the width as needed */
        height: 90%; /* Allow the height to adjust based on content */
        max-width: 400px; /* Set a maximum width if desired */
        border: 3px solid #000000;
        img{
            padding-top: 18px;
        }
    }

  





    #wpcf7-f44-o1 > form input {
        width: 190px;
}
    #wpcf7-f44-o1 > form > p:nth-child(5) > label > span > textarea {
    width: 190px;
    height: 118px;
}

    #wpcf7-f44-o1 > form {
    margin:0;
}
    #wpcf7-f44-o1 > form > p:nth-child(6) > input {
    width: 190px;
}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .popup-contact {
        width: 70%; /* Ajustez la largeur selon vos besoins */
        max-width: 600px; /* Définissez une largeur maximale si nécessaire */
    }
   
}



   